<a href="https://colab.research.google.com/github/staffanw/Hands-On-ML-A-Geron/blob/main/kaggle_chocolate_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
assert sys.version_info >= (3, 7)
from packaging import version
import sklearn
assert version.parse(sklearn.__version__) >= version.parse("1.0.1")
import os
import pandas as pd
from zipfile import ZipFile
chocolateDf = pd.DataFrame()

In [12]:
# Step 1: Authenticate
# Place kaggle.json in ~/.kaggle/ or set these environment variables
os.environ['KAGGLE_USERNAME'] = 'staffanwinter'
os.environ['KAGGLE_KEY'] = '636629f94693fac27f01438b51f0fe0b'

# Step 2: Download the dataset
!kaggle datasets download -d atharvasoundankar/chocolate-sales -p data --unzip

# Step 3: Check the file name
print(os.listdir("data"))

# Step 4: Load into pandas
chocolateDf = pd.read_csv("data/Chocolate Sales.csv")  # Update this filename if it's different
print(chocolateDf.head(10))

Dataset URL: https://www.kaggle.com/datasets/atharvasoundankar/chocolate-sales
License(s): MIT
['Chocolate Sales.csv']
      Sales Person      Country              Product       Date    Amount  \
0   Jehu Rudeforth           UK      Mint Chip Choco  04-Jan-22   $5,320
1      Van Tuxwell        India        85% Dark Bars  01-Aug-22   $7,896
2     Gigi Bohling        India  Peanut Butter Cubes  07-Jul-22   $4,501
3     Jan Morforth    Australia  Peanut Butter Cubes  27-Apr-22  $12,726
4   Jehu Rudeforth           UK  Peanut Butter Cubes  24-Feb-22  $13,685
5      Van Tuxwell        India   Smooth Sliky Salty  06-Jun-22   $5,376
6       Oby Sorrel           UK      99% Dark & Pure  25-Jan-22  $13,685
7  Gunar Cockshoot    Australia          After Nines  24-Mar-22   $3,080
8   Jehu Rudeforth  New Zealand       50% Dark Bites  20-Apr-22   $3,990
9      Brien Boise    Australia      99% Dark & Pure  04-Jul-22   $2,835

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184
5             38
6            176
7             73
8             59
9            102

In [13]:
chocolateDf.keys()
len(chocolateDf)

1094

In [14]:
chocolateDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   1094 non-null   object
 1   Country        1094 non-null   object
 2   Product        1094 non-null   object
 3   Date           1094 non-null   object
 4   Amount         1094 non-null   object
 5   Boxes Shipped  1094 non-null   int64
dtypes: int64(1), object(5)
memory usage: 51.4+ KB

In [28]:
chocolateDf.value_counts()

Sales Person    Country    Product               Date       Amount    Boxes Shipped  part
Wilone O'Kielt  USA        Smooth Sliky Salty    18-Jan-22  $504      87             0.178    1
Andria Kimpton  Australia  50% Dark Bites        02-Jun-22  $4,438    227            0.014    1
                           85% Dark Bars         23-Aug-22  $4,186    233            0.014    1
                           Almond Choco          25-Apr-22  $3,192    175            0.014    1
                           Baker's Choco Chips   09-Aug-22  $329      109            0.014    1
                                                                                             ..
                Canada     Eclairs               11-Aug-22  $308      125            0.021    1
                           Caramel Stuffed Bars  03-Jan-22  $7,154    348            0.021    1
                           After Nines           11-May-22  $2,163    70             0.021    1
                           70% Dark Bites        08-Apr-22  $10,262   15             0.021    1
                Australia  Peanut Butter Cubes   20-Apr-22  $6,678    148            0.014    1
Name: count, Length: 1094, dtype: int64

In [23]:
chocolateDf.value_counts("Country")

Country
Australia      205
India          184
USA            179
UK             178
Canada         175
New Zealand    173
Name: count, dtype: int64

In [25]:
country_to_part = {
	'Australia': 0.014,
	'India':  0.750,
	'USA': 0.178,
	'UK': 0.036,
	'Canada' : 0.021,
	'New Zealand': 0.003
}

chocolateDf['part'] = chocolateDf['Country'].map(country_to_part)

In [ ]:
chocolateDf.value_counts("Product")

In [26]:
chocolateDf.describe()

       Boxes Shipped         part
count    1094.000000  1094.000000
mean      161.797989     0.167581
std       121.544145     0.268501
min         1.000000     0.003000
25%        70.000000     0.014000
50%       135.000000     0.021000
75%       228.750000     0.178000
max       709.000000     0.750000

In [27]:
chocolateDf.keys()

Index(['Sales Person', 'Country', 'Product', 'Date', 'Amount', 'Boxes Shipped',
       'part'],
      dtype='object')

In [21]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(chocolateDf, test_size=0.2, random_state=42)
len(test_set)

219

In [22]:
len(train_set)

875