<a href="https://colab.research.google.com/github/staffanw/githubTest/blob/main/kaggle_chocolate_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
assert sys.version_info >= (3, 7)
from packaging import version
import sklearn
assert version.parse(sklearn.__version__) >= version.parse("1.0.1")
import os
import pandas as pd
from zipfile import ZipFile
chocolateDf = pd.DataFrame()

In [2]:
# Step 1: Authenticate
# Place kaggle.json in ~/.kaggle/ or set these environment variables
os.environ['KAGGLE_USERNAME'] = 'staffanwinter'
os.environ['KAGGLE_KEY'] = '636629f94693fac27f01438b51f0fe0b'

# Step 2: Download the dataset
!kaggle datasets download -d atharvasoundankar/chocolate-sales -p data --unzip

# Step 3: Check the file name
print(os.listdir("data"))

# Step 4: Load into pandas
chocolateDf = pd.read_csv("data/Chocolate Sales.csv")  # Update this filename if it's different
print(chocolateDf.head())

Dataset URL: https://www.kaggle.com/datasets/atharvasoundankar/chocolate-sales
License(s): MIT
['Chocolate Sales.csv']
     Sales Person    Country              Product       Date    Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  04-Jan-22   $5,320
1     Van Tuxwell      India        85% Dark Bars  01-Aug-22   $7,896
2    Gigi Bohling      India  Peanut Butter Cubes  07-Jul-22   $4,501
3    Jan Morforth  Australia  Peanut Butter Cubes  27-Apr-22  $12,726
4  Jehu Rudeforth         UK  Peanut Butter Cubes  24-Feb-22  $13,685

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184

In [3]:
chocolateDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   1094 non-null   object
 1   Country        1094 non-null   object
 2   Product        1094 non-null   object
 3   Date           1094 non-null   object
 4   Amount         1094 non-null   object
 5   Boxes Shipped  1094 non-null   int64
dtypes: int64(1), object(5)
memory usage: 51.4+ KB

In [4]:
chocolateDf.value_counts()

Sales Person    Country    Product               Date       Amount    Boxes Shipped
Wilone O'Kielt  USA        Smooth Sliky Salty    18-Jan-22  $504      87               1
Andria Kimpton  Australia  50% Dark Bites        02-Jun-22  $4,438    227              1
                           85% Dark Bars         23-Aug-22  $4,186    233              1
                           Almond Choco          25-Apr-22  $3,192    175              1
                           Baker's Choco Chips   09-Aug-22  $329      109              1
                                                                                      ..
                Canada     Eclairs               11-Aug-22  $308      125              1
                           Caramel Stuffed Bars  03-Jan-22  $7,154    348              1
                           After Nines           11-May-22  $2,163    70               1
                           70% Dark Bites        08-Apr-22  $10,262   15               1
                Australia  Peanut Butter Cubes   20-Apr-22  $6,678    148              1
Name: count, Length: 1094, dtype: int64

In [6]:
chocolateDf.describe()

       Boxes Shipped
count    1094.000000
mean      161.797989
std       121.544145
min         1.000000
25%        70.000000
50%       135.000000
75%       228.750000
max       709.000000

In [7]:
chocolateDf.keys()

Index(['Sales Person', 'Country', 'Product', 'Date', 'Amount',
       'Boxes Shipped'],
      dtype='object')